{% extends "layout.html" %}
{% block a %}

<div class="container p-3 mt-3">
   
    <div class="display-2">
        Welcome to ETHER
    </div>
    <br>
    <div class="display-4">
       About
    </div>
    <br>
    <p class="lead mb-5">
        Ether was founded January 31st, 2020 by Uday Goyat and Gatlen Culp, based off of our dream, to make imagination reality. With our experiences in art, science, mathematics, and programming, we seek to bring the world true virtual and augmented reality, hands free from bulky computers and with applications in many fields from the medical field to gaming.
    <br>
    contact: contact@ether.com
    <br>
    phone number: 843-754-0521
        </p>

    <div class="container">
        
    </div>

    <div class="jumbotron" style="background-image: url(../static/images/vr.jpg); background-size: cover; height: 150%">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br><br>
        <br>
        <br><br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

</div>



{% endblock a %}